@import url(//fonts.googleapis.com/css?family=Cantarell:400,700);
/* Include Default Variables & Mixins */
/* End Variables & Mixins */
/**************************************************
* --
* 1. Global
* --
**************************************************/
/* line 10, ../scss/ie-lte-7.scss */
img {
  width: auto; }

/* line 13, ../scss/ie-lte-7.scss */
#messages {
  z-index: 1000;
  /*Fix for z-index stacking*/ }

/**************************************************
* --
* 2. Section header
* --
**************************************************/
/**********************************************
* 2.1. Zone user
**********************************************/
/* line 24, ../scss/ie-lte-7.scss */
.zone-user-wrapper {
  width: inherit !important; }

/*******************************************
* 2.1.1. Region user first
*******************************************/
/* User menu */
/* line 31, ../scss/ie-lte-7.scss */
.block-menu-user-menu .content {
  width: auto; }

/**********************************************
* 2.2. Zone branding
**********************************************/
/**
* Search block
*/
/* line 40, ../scss/ie-lte-7.scss */
#block-views-exp-display-products-page .views-exposed-widgets {
  position: relative; }

/* line 43, ../scss/ie-lte-7.scss */
#block-views-exp-display-products-page .views-exposed-widget {
  padding: 0;
  position: relative;
  left: 0px; }

/* line 48, ../scss/ie-lte-7.scss */
#block-views-exp-display-products-page #edit-search-api-views-fulltext {
  height: 18px;
  padding: 5px; }

/* line 52, ../scss/ie-lte-7.scss */
#block-views-exp-display-products-page .views-submit-button {
  position: absolute;
  right: 0; }
  /* line 55, ../scss/ie-lte-7.scss */
  #block-views-exp-display-products-page .views-submit-button .form-submit {
    float: right;
    width: 24px;
    height: 24px; }

/**********************************************
* 2.3. Zone menu
**********************************************/
/**
* Navigation
*/
/* line 71, ../scss/ie-lte-7.scss */
.navigation .primary-menu ul li,
.navigation .second-menu ul li,
.zone-menu .block-menu ul li {
  display: inline;
  float: left; }
  /* line 75, ../scss/ie-lte-7.scss */
  .navigation .primary-menu ul li a,
  .navigation .second-menu ul li a,
  .zone-menu .block-menu ul li a {
    display: block;
    float: left;
    min-height: 100%;
    height: 28px; }

/**************************************************
* --
* 3. Section content
* --
**************************************************/
/* line 88, ../scss/ie-lte-7.scss */
.section-content {
  min-height: auto;
  height: auto; }

/*******************************************
* 3.2.1. Sidebar first
*******************************************/
/* Search api facet blocks */
/* line 96, ../scss/ie-lte-7.scss */
.region-sidebar-first .block-facetapi {
  margin-left: 5px; }

/* line 99, ../scss/ie-lte-7.scss */
#search-api-ranges-block-slider-view-form {
  margin-top: 15px; }

/* Category */
/* line 103, ../scss/ie-lte-7.scss */
.region-sidebar-first .block-facetapi.field_category .item-list {
  border: none !important;
  height: auto !important;
  padding: 0 !important;
  overflow-y: visible !important; }

/**************************************************
* --
* 5. Commerce specific
* --
**************************************************/
/**********************************************
* 5.1. Search & Collection page
**********************************************/
/**
* Collection page
*/
/* line 122, ../scss/ie-lte-7.scss */
.view-collection-products .view-header .view-collection-products,
.view-collection-taxonomy-term .view-header .collection-terms {
  padding-bottom: 5px; }

/* line 127, ../scss/ie-lte-7.scss */
.view-collection-products .view-content .item-list .products-per-collection li header,
.view-collection-taxonomy-term .view-content .item-list .products-per-collection li header {
  display: block !important; }
/* line 131, ../scss/ie-lte-7.scss */
.view-collection-products .view-content .item-list .products-per-collection li .field-type-commerce-price .price_prefix p,
.view-collection-taxonomy-term .view-content .item-list .products-per-collection li .field-type-commerce-price .price_prefix p {
  padding-right: 5px; }

/**********************************************
* 5.2. All products page
**********************************************/
/* line 139, ../scss/ie-lte-7.scss */
.page-products .view-display-products {
  clear: both;
  margin-top: 40px;
  width: 700px; }
  /* line 145, ../scss/ie-lte-7.scss */
  .page-products .view-display-products ul li.views-row {
    display: block;
    height: auto;
    margin: 0;
    width: 225px; }
  /* line 151, ../scss/ie-lte-7.scss */
  .page-products .view-display-products ul li header {
    display: block; }
  /* line 157, ../scss/ie-lte-7.scss */
  .page-products .view-display-products ul li .content .field-name-commerce-price .price_prefix p {
    padding-right: 5px; }

/**********************************************
* 5.3. Product page
**********************************************/
/**
* Add to cart popin.
*/
/* line 170, ../scss/ie-lte-7.scss */
div.commerce_add_to_cart_confirmation_overlay {
  display: none; }

/* line 176, ../scss/ie-lte-7.scss */
div.messages.commerce-add-to-cart-confirmation .message-inner .view-confirm-message-product-display .view-content {
  width: 180px !important; }

/**********************************************
* 5.4. Checkout process
**********************************************/
/**
* Checkout progress
*/
/* line 188, ../scss/ie-lte-7.scss */
ol.inline.commerce-checkout-progress li {
  background-image: url("../images/bg_checkout_progress_ie.png");
  background-position: right center;
  /* LTR */
  background-repeat: no-repeat;
  padding-right: 50px;
  /* LTR */
  padding-left: 25px;
  /* LTR */
  right: -5px;
  /* LTR */ }

/* line 196, ../scss/ie-lte-7.scss */
ol.inline.commerce-checkout-progress li.active {
  background-image: url("../images/bg_checkout_progress_ie.png"); }

/* line 199, ../scss/ie-lte-7.scss */
ol.inline.commerce-checkout-progress li.previous {
  background-image: url("../images/bg_checkout_progress_ie_visited.png"); }

/* line 202, ../scss/ie-lte-7.scss */
ol.inline.commerce-checkout-progress li.last {
  background-image: url("../images/bg_checkout_progress_ie_last.png"); }

/**************************************************
* --
* 9. User account
* --
**************************************************/
/* line 212, ../scss/ie-lte-7.scss */
.page-user .section-footer,
.page-checkout .section-footer {
  /**
   * For modern browsers
   * 1. The space content is one way to avoid an Opera bug when the
   *    contenteditable attribute is included anywhere else in the document.
   *    Otherwise it causes space to appear at the top and bottom of elements
   *    that are clearfixed.
   * 2. The use of `table` rather than `block` is only necessary if using
   *    `:before` to contain the top-margins of child elements.
   */
  /**
   * For IE 6/7 only
   * Include this rule to trigger hasLayout and contain floats.
   */
  *zoom: 1; }
  /* line 12, ../scss/mixins.scss */
  .page-user .section-footer:before, .page-user .section-footer.cf:after,
  .page-checkout .section-footer:before,
  .page-checkout .section-footer.cf:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */ }
  /* line 17, ../scss/mixins.scss */
  .page-user .section-footer:after,
  .page-checkout .section-footer:after {
    clear: both; }

/* Address book */
/* line 220, ../scss/ie-lte-7.scss */
.page-user-addressbook .field-name-commerce-customer-address .addressfield-container-inline > div.form-item {
  float: none;
  margin: 0; }
