/* This file will hold styles that are loaded using the same media query as the wide grid. */
/**********************************************
* 3.2. Zone content
**********************************************/
#block-views-demo-content-slideshow-block-1 {
  /* HP blocks: Slideshow */ }
  #block-views-demo-content-slideshow-block-1 .bx-wrapper,
  #block-views-demo-content-slideshow-block-1 .bx-wrapper .bx-window {
    height: 838px !important;
    max-height: 838px;
    min-width: 1180px; }
  #block-views-demo-content-slideshow-block-1 .bx-wrapper ul.event-slider li {
    height: 738px;
    width: 1180px; }
    #block-views-demo-content-slideshow-block-1 .bx-wrapper ul.event-slider li img {
      overflow: hidden;
      height: 100%;
      width: 100%; }
