@import url(//fonts.googleapis.com/css?family=Cantarell:400,700);

$bodybg: #FFF;
$headerfont: 'Cantarell', sans-serif;
$altheaderfont: 'Cantarell', sans-serif;

//text color
$color1: #4D4D4D;
$color2: #4D4D4D;



// mobile specific elements
$mobilemenubg: #444;
$tabletmenubg: transparent;
// User Zone
$topbarbackground: #888;
// shopping cart block (in user zone)
$cartceckoutbg: #999;
$cartceckoutcolor: #FFF;
// main menu
$mainmenuitembg: #EEE;
$mainmenuitemborder: 1px solid #CCC;
$mainmenulinkcolor: #888;
$mainmenuitembghover: #FFF;
$mainmenuitemborderhover: 1px solid #CCC;
$mainmenuitemfonthover: #ED3B49;
$mainmenuitemfontactive: #ED3B49;
// secondary menu
$secondarymenuitembg: #EEE;
$secondarymenuitemborder: 1px solid #CCC;
$secondarymenulinkcolor: #888;
$secondarymenuitembghover: #FFF;
$secondarymenuitemborderhover: 1px solid #CCC;
$secondarymenuitemfonthover: #ED3B49;
$secondarymenuitemfontactive: #ED3B49;

// footer
$footerbg: #FFF;
$footermenuheadercolor: #666;
$footermenulinkcolor: #4D4D4D;

$footer2bg: #FFF;
