@import url(//fonts.googleapis.com/css?family=Cantarell:400,700);

$bodybg: #FFF;
$headerfont: 'Cantarell', sans-serif;
$altheaderfont: 'Cantarell', sans-serif;

//text color
$color1: #4D4D4D;
$color2: #FFF;
$linkcolor: #ED3B49;



// mobile specific elements
$mobilemenubg: #444;
$tabletmenubg: transparent;
// User Zone
$topbarbackground: #888;
// shopping cart block (in user zone)
$cartceckoutbg: #FFF;
$cartceckoutcolor: #FFF;
// main menu
$mainmenuitembg: #FFF;
$mainmenuitemborder: none;
$mainmenulinkcolor: #4D4D4D;
$mainmenuitembghover: #FFF;
$mainmenuitemborderhover: none;
$mainmenuitemfonthover: #ED3B49;
$mainmenuitemfontactive: #ED3B49;
// secondary menu
$secondarymenuitembg: #FFF;
$secondarymenuitemborder: none;
$secondarymenulinkcolor: #4D4D4D;
$secondarymenuitembghover: #FFF;
$secondarymenuitemborderhover: none;
$secondarymenuitemfonthover: #ED3B49;
$secondarymenuitemfontactive: #ED3B49;

// footer
$footerbg: #FFF;
$footermenuheadercolor: #666;
$footermenulinkcolor: #4D4D4D;

$footer2bg: #FFF;
